

.home{
    background-color: rgb(166, 253, 144);
    position: absolute !important;
    width: 100%;
    left: 0%;
    top: 100% !important;
}


/* Media Queries */
@media (max-width: 1024px) {

    .home{
    background-color: cadetblue;
    position: absolute !important;
    width: 100% !important;
    left: 0%;
}
  }
  
  @media (max-width: 768px) {
  
    .home{
        background-color: cadetblue;
        position: absolute !important;
        width: 100% !important;
        left: 0%;
    }
  }
  
  @media (max-width: 480px) {
  
    
    .home{
        background-color: cadetblue;
        position: absolute !important;
        width: 100% !important;
        left: 0%;
    }
  }