/* StudentRegSuccess.css */
.success-container {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Make sure it takes up the full height of the viewport */
    background-color: #f0f8ff; /* Light background color */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .success-container h1 {
    position: absolute;
    top: 26%;
   
    color: #28a745; /* Green color for success message */
    font-size: 2.5rem; /* Larger font size for the heading */
    margin-bottom: 10px; /* Space below the heading */
  }
  
  .success-container p {
    color: #333; /* Darker text color for the paragraph */
    font-size: 1.2rem; /* Slightly larger font size for better readability */
    text-align: center; /* Center align the text */
    max-width: 600px; /* Limit the width of the paragraph */
  }
  .sidebarsuc{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #2c8353;
    width: 200px;
    height: 650px;
    border: #2c8353;
  }